<%-   include('partials/head') %>

  </head>
  <body class="bg-gray-100 flex flex-col  items-center min-h-screen text-center font-sans">
    <!-- Navigation Bar -->
    <%-   include('partials/nav') %>


    <!-- 404 Message Section -->
    <main class="mt-10">
      <h2 class="text-4xl font-bold text-pink-600">404</h2>
      <p class="text-lg text-gray-700 mt-2">Oops! The page you're looking for was not found on Airbnb.</p>
    </main>
      <!-- Footer -->
      <%-   include('partials/footer') %>

  </body>
</html>
